@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

h2 {
  color: black;
  font-family: Roboto;
}

p {
  color: black;
  font-family: Lato;
}
