@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

h2 {
  color: black;
  font-family: Roboto;
}

p {
  color: black;
  font-family: Lato;
}

nav {
  float:right;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
  display: inline-block;
  float: right;
  margin-right: 8vw;
  padding-top: 0.5vw;
}

button {
  font-family: Roboto;
  font-size: 2vw;
  color: white;
}

button:hover {
  cursor:pointer;
  color: black;
  transition: 0.25s;
}

body {
  background-color: rgb(240, 240, 240);
  padding-top: 4vw;
}

.column {
    float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 4vw;

    background-color: rgb(75, 125, 210);

    box-shadow: 0vw 0.1vh 2px grey;
}

#navbar img {
    width: 4vw;
    height: 4vw;

    display: block;
    margin: 0 auto;
    float: left;
}

#navbar #navlist li button {
    width: 5vw;
    height: 3vw;

    border: none;

    background-color: rgb(75, 125, 210);
    transition: 1s ease;
    outline: none;
}

#home,
#projects {
    display: none;
}

#main.home #home,
#main.projects #projects {
    display: block;
}
